<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<h2 mat-dialog-title *ngIf="!answerSubmitSuccess && !answerSubmitFailure">Brief Details</h2>
<h2 mat-dialog-title *ngIf="answerSubmitSuccess"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="answerSubmitFailure"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i> Failure</h2>
<mat-dialog-content class="mat-typography">
  <!-- <p *ngIf="bookingQuestionDetail.length > 0">Please wait while we load the Questions.</p> -->
  <div fxLayout="column" fxLayoutAlign="space-between stretch" *ngIf="!answerSubmitSuccess && !answerSubmitFailure">
    <mat-form-field fxFlex="100%" *ngFor="let bookingQuestion of bookingQuestionDetail; let index = index;">
      <input matInput [name]="'answer'+index" type="text" [placeholder]="bookingQuestion.question" [tabindex]="$index+1" required
        [(ngModel)]="bookingQuestion.answer" [disabled]="isDataEntryDisabled">
    </mat-form-field>
  </div>
  <p *ngIf="answerSubmitSuccess">The details are submitted successfully.</p>
  <p *ngIf="answerSubmitFailure">The details couldn't be submitted at the moment. Please try again later.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="submitAllAnswers()" *ngIf="!answerSubmitSuccess && !answerSubmitFailure && !isDataEntryDisabled">Submit Answers</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>