<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>

<h2 mat-dialog-title *ngIf="!isAppointmentNotScheduled && !isAppointmentScheduled">Schedule Appointment</h2>
<h2 mat-dialog-title *ngIf="isAppointmentScheduled"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="isAppointmentNotScheduled"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i>
  Failure</h2>

<mat-dialog-content class="mat-typography">

<p *ngIf="!isAppointmentScheduled && !isAppointmentNotScheduled">Schedule the timeslot for the Appointment as requested by the user. Pick from the available options below.</p>
<div fxLayout fxLayoutAlign="space-between center" *ngIf="!isAppointmentScheduled && !isAppointmentNotScheduled">
    <mat-form-field fxFlex="48%">
        <input matInput name="appointment" [matDatepicker]="picker" placeholder="Appointment Date" [min]="startDate" required tabindex="1" [(ngModel)]="scheduledDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="48%">
          <mat-select name="gynaecologist" placeholder="Appointment Timeslot" required tabindex="2" [(ngModel)]="scheduledTime">
            <mat-option value="8">08:00 - 10:00</mat-option>
            <mat-option value="10">10:00 - 12:00</mat-option>
            <mat-option value="12">12:00 - 14:00</mat-option>
            <mat-option value="14">14:00 - 16:00</mat-option>
            <mat-option value="16">16:00 - 18:00</mat-option>
          </mat-select>
        </mat-form-field>
</div>

<p *ngIf="isAppointmentScheduled">The appointment date for the service is set sucessfully.</p>
  <p *ngIf="isAppointmentNotScheduled">The appointment date couldn't be set at the moment. Please try again later.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="setAppointmentDate()" *ngIf="!isAppointmentScheduled && !isAppointmentNotScheduled">Submit</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>