<h2 mat-dialog-title *ngIf="data.updateSuccess"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="!data.updateSuccess"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i> Failure</h2>
<mat-dialog-content class="mat-typography">

  <p *ngIf="data.updateSuccess">The requested User Detail update is completed successfully.</p>
  <p *ngIf="!data.updateSuccess">The request couldn't be processed at the moment. Please try again later.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>