<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<h2 mat-dialog-title *ngIf="isProviderIdAvailable && !isSuccess && !isFailure">Provider Identity Details</h2>
<h2 mat-dialog-title *ngIf="!isProviderIdAvailable && !isSuccess && !isFailure">Add Provider Identity Details</h2>

<h2 mat-dialog-title *ngIf="isSuccess"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="isFailure"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i> Failure</h2>


<mat-dialog-content class="mat-typography">

  <p *ngIf="!isProviderIdAvailable && !isSuccess && !isFailure">No Provider Identity details are tagged. Please enter the details below.</p>

  <div fxLayout fxLayoutAlign="space-between center" *ngIf="!isSuccess && !isFailure">
    <mat-form-field fxFlex="30%">
      <input matInput name="identityNumber" type="text" placeholder="Identity Detail" tabindex="1" required
        [(ngModel)]="providerIdentityDetail.identityNumber" [disabled]="isProviderIdAvailable">
    </mat-form-field>
    <mat-form-field fxFlex="30%">
      <mat-select name="identityType" placeholder="Identity Type" required tabindex="2"
        [(ngModel)]="providerIdentityDetail.identityType" [disabled]="isProviderIdAvailable">
        <mat-option value="AADHAAR_CARD">Aadhaar Card</mat-option>
        <mat-option value="VOTER_ID">Voter ID</mat-option>
        <mat-option value="PANCARD">Pan Card</mat-option>
        <mat-option value="PASSPORT">Passport</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="30%">
      <input matInput name="registeredEmployeeId" type="text" placeholder="Employee Number" tabindex="3" required
        [(ngModel)]="providerIdentityDetail.registeredEmployeeId" [disabled]="isProviderIdAvailable">
    </mat-form-field>
  </div>

  <p *ngIf="isSuccess">The requested action is completed successfully and the Identity details are updated.</p>
  <p *ngIf="isFailure">The requested action couldn't completed. Please try again later.</p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" *ngIf="!isProviderIdAvailable  && !isSuccess && !isFailure && !providerIdentityDetail.id" tabindex="4" (click)="addProviderIdentity()">Submit</button>
  <button mat-button color="primary" *ngIf="!isProviderIdAvailable  && !isSuccess && !isFailure && providerIdentityDetail.id" tabindex="4" (click)="updateProviderIdentity()">Update Details</button>
  <button mat-button color="primary" *ngIf="isProviderIdAvailable  && !isSuccess && !isFailure" tabindex="4" (click)="editProviderIdentity()">Edit Details</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>