<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<mat-card>
    <mat-card-header *ngIf="!registrationSuccess">
      <mat-card-title>User Management - Add New Provider</mat-card-title>
    </mat-card-header>
    <mat-card-header *ngIf="registrationSuccess">
        <mat-card-title>Success</mat-card-title>
      </mat-card-header>
    <mat-card-content *ngIf="!registrationSuccess">
      <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" (keyup.enter)="addProviderUser()">
        <div fxLayout fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="20%">
            <input matInput name="firstName" type="text" placeholder="First Name" tabindex="1" required autofocus
              [(ngModel)]="providerDetail.firstName">
          </mat-form-field>
          <mat-form-field fxFlex="20%">
            <input matInput name="lastName" type="text" placeholder="Last Name" tabindex="2" required [(ngModel)]="providerDetail.lastName">
          </mat-form-field>
          <mat-form-field fxFlex="45%">
            <input matInput name="userName" type="email" placeholder="Email" tabindex="3" required [(ngModel)]="providerDetail.userName">
          </mat-form-field>
        </div>
        <div fxLayout fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="45%">
            <input matInput name="dob" [matDatepicker]="picker" placeholder="DOB" [max]="startDate" required tabindex="4" [(ngModel)]="providerDetail.dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker startView="multi-year" touchUi #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="45%">
            <input matInput name="phoneNumber" type="tel" placeholder="Mobile Number" maxlength="10" tabindex="5"
              required [(ngModel)]="providerDetail.phoneNumber">
          </mat-form-field>
        </div>
  
  
        <div fxLayout fxLayoutAlign="space-around center">
          
          <mat-form-field fxFlex="45%">
            <mat-select name="gender" placeholder="Gender" required tabindex="6" [(ngModel)]="providerDetail.gender">
              <mat-option value="MALE">Male</mat-option>
              <mat-option value="FEMALE">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="45%">
            <mat-select name="roleName" placeholder="Role" required tabindex="7" [(ngModel)]="providerDetail.roleName[0]">
              <mat-option value="ROLE_PROVIDER_NURSE">Nurse</mat-option>
              <mat-option value="ROLE_PROVIDER_CUSTOMER_SERVICE">Customer Service</mat-option>
              <mat-option value="ROLE_PROVIDER_GYNECOLOGIST">Gynecologist</mat-option>
              <mat-option value="ROLE_PROVIDER_ANDROLOGIST">Andrologist</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div fxLayout fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="45%">
            <input matInput name="address1" type="text" placeholder="Door Number / Building Number" tabindex="8" required
              [(ngModel)]="providerDetail.address1">
          </mat-form-field>
          <mat-form-field fxFlex="45%">
            <input matInput name="address2" type="text" placeholder="Street Name / Locality" tabindex="9" required
              [(ngModel)]="providerDetail.address2">
          </mat-form-field>
        </div>
  
        <div fxLayout fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="45%">
            <input matInput name="city" type="text" placeholder="City" tabindex="10" required [(ngModel)]="providerDetail.city">
          </mat-form-field>
          <mat-form-field fxFlex="45%">
              <mat-select name="state" placeholder="State" required tabindex="11" [(ngModel)]="providerDetail.state">
                  <mat-option *ngFor="let state of stateList" [value]="state.code">
                      {{state.name}}
                    </mat-option>
                </mat-select>
          </mat-form-field>
        </div>
  
        <div fxLayout fxLayoutAlign="space-around center">
          <mat-form-field fxFlex="45%">
              <mat-select name="country" placeholder="Country" required tabindex="12" [(ngModel)]="providerDetail.country">
                  <mat-option *ngFor="let country of countryList" [value]="country.code">
                      {{country.name}}
                    </mat-option>
                </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="45%">
            <input matInput name="pincode" type="text" placeholder="Pincode" tabindex="13" required [(ngModel)]="providerDetail.pincode">
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" class="auth-button">
          <button mat-raised-button color="default" fxFlex="10%" tabindex="15" (click)="gobacktoUserManagement()">Cancel</button>
          <button type="submit" mat-raised-button color="primary" fxFlex="10%" tabindex="14" (click)="addProviderUser()">Submit</button>
  
        </div>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="registrationSuccess">
      The User has been successfully registered in the application
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" class="auth-button">
          <button mat-raised-button color="default" fxFlex="10%" tabindex="15" (click)="gobacktoUserManagement()">Go Back</button>
      </div>
    </mat-card-content>
  </mat-card>