<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>

<h2 mat-dialog-title *ngIf="verificationSuccess || sendOTPSuccess"><i class="material-icons"
    style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="verificationFailure || sendOTPFailure"><i class="material-icons"
    style="vertical-align: sub;color:orangered;">cancel</i>
  Failure</h2>

<mat-dialog-content class="mat-typography">

  <p *ngIf="verificationSuccess">The Mobile Number has been verified successfully.</p>
  <p *ngIf="sendOTPSuccess">The OTP has been sent to your registered Mobile Number. Please
    enter the same to verify.</p>

  <div fxLayout fxLayoutAlign="space-between center" *ngIf="sendOTPSuccess">
    <mat-form-field fxFlex="75%">
      <input matInput name="otp" type="text" placeholder="OTP" tabindex="1" required [(ngModel)]="mobileVerification.otp">
    </mat-form-field>
    <button mat-button color="warn" tabindex="3">Resend OTP</button>
  </div>

  <p *ngIf="verificationFailure">The OTP entered is not valid. Please try again with the right OTP.</p>
  <p *ngIf="sendOTPFailure">The OTP for verification couldn't be sent at the moment.
    Please try again later.</p>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button *ngIf="sendOTPSuccess" (click)="verifyMobileOTP()">Submit OTP</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>