.default-theme .mat-raised-button.mat-primary {
  background: #0F96BE;
  border: 1px solid #0F96BE;
}

.default-theme .mat-raised-button.mat-warn {
  background: #F44336;
  border: 1px solid #F44336;
}

.default-theme .mat-raised-button.mat-accent {
  background: #00C780;
  border: 1px solid #00C780;
}
