<h2 mat-dialog-title>User Details</h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">Name:</p>
      <p>{{data.userValue.firstName}}
        {{data.userValue.lastName}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">Email:</p>
      <p>{{data.userValue.userName}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">DOB:</p>
      <p>{{data.userValue.userDOB | date}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">Gender:</p>
      <p>{{data.userValue.userGender}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">Contact:</p>
      <p>{{data.userValue.userPhoneNumber}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">User Type:</p>
      <p>{{data.userValue.userType | titlecase}}</p>
    </mat-list-item>
    <mat-list-item fxLayout fxLayoutAlign="space-between center">
      <p style="font-weight: bold; width: 115px;">Address:</p>
      <p>{{data.userValue.address.address1}}
        {{data.userValue.address.address2}}
        {{data.userValue.address.city}}
        {{data.userValue.address.state}}
        {{data.userValue.address.country}}
        {{data.userValue.address.pincode}}
      </p>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>