<mat-card class="jumbo-content">
  <h1 fxLayoutAlign="center center" ngClass.xs="mobile-header" ngClass.sm="mobile-header">{{quoteArrayItem.quote}}</h1>
  <h2 fxLayoutAlign="center center" ngClass.xs="mobile-header" ngClass.sm="mobile-header">{{quoteArrayItem.quoteBy}}
  </h2>
</mat-card>

<mat-card class="mat-elevation-z0">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>
      <h2>Book a Service</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="32px" fxLayoutAlign="space-around"
      class="mat-elevation-z0">


      <mat-card fxFlex="25%" fxFlex.sm="100%" fxFlex.xs="100%" class="mat-elevation-z6"
        *ngFor="let service of serviceList; let indexVal = index">
        <mat-card-header>
          <mat-card-title>{{service.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card-image-custom" src='../../../../assets/img/{{indexVal+1}}.jpg'
          alt="Procedure Image">
        <mat-card-content>
          <p>{{service.description}}</p>
          <h3>Service Fee - <b>INR {{service.serviceFee}}/-</b></h3>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="openBookingDialog(service)">Book Service</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title class="timeline-header">Journey to Parenthood</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="timeline">

      <div class="container">

        <div class="timeline-item" *ngFor="let bookedService of bookedServicesList">
          <div class="timeline-img"></div>
          <div class="timeline-content timeline-card js--fadeInLeft">
            <div class="timeline-img-header consultation-img"
              *ngIf="bookedService.services.serviceId=== 'CONSULTATION'">
              <h2>Consultation</h2>
            </div>
            <div class="timeline-img-header insemination-img"
              *ngIf="bookedService.services.serviceId=== 'ARTIFICIAL INSEMINATION'">
              <h2>Artificial Insemination</h2>
            </div>
            <div class="timeline-img-header analysis-img" *ngIf="bookedService.services.serviceId=== 'SEMEN-ANALYSIS'">
              <h2>Semen Analysis</h2>
            </div>
            <div class="date">{{bookedService.dateCreated | date:'MMM d, y - h:mm a'}}</div>
            <mat-list>
              <mat-list-item fxLayout fxLayoutAlign="space-between center">
                <p style="font-weight: bold; width: 150px;">Booking ID:</p>
                <p>{{bookedService.bookingId}}</p>
              </mat-list-item>
              <mat-list-item fxLayout fxLayoutAlign="space-between center">
                <p style="font-weight: bold; width: 150px;">Status:</p>
                <p>{{bookedService.bookingStatus}}</p>
              </mat-list-item>
              <mat-list-item fxLayout fxLayoutAlign="space-between center" *ngIf="!(bookedService.bookingStatus=== 'ASSIGNED') && !(bookedService.bookingStatus=== 'NEW')">
                <p style="font-weight: bold; width: 150px;">Appointment Date:</p>
                <p>{{bookedService.bookingDate | date:'MMM d, y - h:mm a'}}</p>
              </mat-list-item>
              <!-- <mat-list-item fxLayout fxLayoutAlign="space-between center">
                <button mat-button  color="primary" (click)="openQuestionsDialog(bookedService.bookingId)">Fill Details</button>
              </mat-list-item> -->
            </mat-list>
          </div>
        </div>

      </div>
    </section>
  </mat-card-content>
</mat-card>