.example-header-image {
  background-image: url('../../../../assets/img/physician_avatar.jpg');
  background-size: cover;
}

.jumbo-content {
  background-image: url('../../../../assets/img/jumbo-baby.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  padding: 10% 0;

  h1,
  h2 {
    color: #223735;
    text-align: center;
  }

  h1.mobile-header,
  h2.mobile-header {
    font-size: 1.3em;
  }
}

.mat-card-image.card-image-custom {
  object-fit: cover;
  height: 300px;
}

::ng-deep .mat-card.jumbo-content {
  form mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background: white;
    padding: 0 0 5px 10px;
  }

  .service-card {
    background: none;

    mat-card {
      min-width: 10%;
      padding: 2% 0;
      cursor: pointer;
    }

    .home-service-button {
      padding: 2%;
      min-width: 13%;
      font-size: 1.5em;
    }
  }
}



//@at-root


$primary: #223735;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;

.timeline-header {
  padding: 10% 0;
  color: #223735;
}

.timeline {

  position: relative;

  &::before {
    content: '';
    background: #223735;
    opacity: 0.3;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;

  &:nth-child(even) {

    .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;

      .date {
        right: auto;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #223735 transparent transparent;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #223735;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 10%);
    color: $text;
    text-decoration: none;
  }

}

.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.timeline-item {

  .timeline-img-header {
    h2 {
      background-color: #333333;
      padding: 6px;
    }
  }

  .timeline-img-header.consultation-img {
    background: url(../../../../assets/img/2.jpg);
    background-size: cover;
  }

  .timeline-img-header.insemination-img {
    background: url(../../../../assets/img/1.jpg);
    background-size: cover;
  }

  .timeline-img-header.analysis-img {
    background: url(../../../../assets/img/3.jpg);
    background-size: cover;
  }
}

.timeline-img-header {

  height: 200px;
  position: relative;
  margin-bottom: 20px;

  h2 {
    color: $text;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
}

blockquote {
  margin-top: 30px;
  color: $secondary-text;
  border-left-color: $primary;
  padding: 0 20px;
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {

  .timeline {

    &::before {
      left: 50px;
    }

    .timeline-img {
      left: 50px;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline-item {

      &:nth-child(even) {

        .timeline-content {
          float: none;

        }
      }

      &:nth-child(odd) {

        .timeline-content {

          &::after {
            content: '';
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }

      }
    }
  }

}