<mat-toolbar class="mat-elevation-z6 header-custom" color="primary" *ngIf="isValidLogin">
  <mat-toolbar-row fxLayout fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
    <span fxHide fxShow.sm="true" fxShow.xs="true" fxFlex="15%"></span>
    
    <span *ngIf="!isUserTypeUser" class="header-custom--title" fxHide fxShow.gt-sm (click)="gotoAdminRequestSettings()">
      <img src="../../../assets/img/subhag-logo-new.png" height="50px" width="107px">
      <span>'YOU' help deliver Little Angels - Operate Responsibly. Act Fast.</span>
    </span>

    <span *ngIf="isUserTypeUser" class="header-custom--title" fxHide fxShow.gt-sm (click)="gotoHome()">
      <img src="../../../assets/img/subhag-logo-new.png" height="50px" width="107px">
      <span>Delivering 'Your' Bundle of Joy</span>
    </span>

    <span class="header-custom--title mobile-title" fxHide fxShow.sm="true" fxShow.xs="true" fxFlex="70%" (click)="gotoHome()"><img
        src="../../../assets/img/subhag-logo.png" height="40px" width="40px"></span>
    <span class="example-spacer" fxHide fxShow.gt-sm></span>
    <button mat-button fxHide fxShow.gt-sm (click)="openWhatsapp()">
      <mat-icon class="example-icon">message</mat-icon> Whatsapp
    </button>
    <button mat-button fxHide fxShow.gt-sm (click)="openContactDialog()">
      <mat-icon class="example-icon">call</mat-icon> Contact
    </button>
    <button mat-button fxHide fxShow.gt-sm [matMenuTriggerFor]="menu" class="username-menu">{{userDetails.firstName}}
      {{userDetails.lastName}}
      <i class="material-icons">arrow_drop_down</i>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="custom-menu mat-elevation-z1">
      <button mat-menu-item (click)="gotoUserProfile()">
        <mat-icon class="example-icon">people</mat-icon> Profile <mat-icon *ngIf="!userDetails.mobileVerify" style="color:orange; font-size: 20px;">info</mat-icon>
      </button>
      <button mat-menu-item (click)="gotoAdminUserSettings()" *ngIf="!isUserTypeUser">
        <mat-icon class="example-icon">settings</mat-icon> Manage Users/Services
      </button>
      <button mat-menu-item (click)="gotoAdminRequestSettings()" *ngIf="!isUserTypeUser">
        <mat-icon class="example-icon">settings</mat-icon> Manage Requests
      </button>
      <button mat-menu-item (click)="gotoAuth()">
        <mat-icon class="example-icon">power_settings_new</mat-icon> Sign Out
      </button>
    </mat-menu>
    <button mat-button fxHide fxShow.sm="true" fxShow.xs="true" fxFlex="15%" class="username-menu" [matMenuTriggerFor]="menuMobile">
      <i class="material-icons">menu</i>
    </button>
    <mat-menu #menuMobile="matMenu" [overlapTrigger]="false" class="custom-menu mobile-menu mat-elevation-z0">
      <button mat-menu-item (click)="gotoUserProfile()">Profile</button>
      <button mat-menu-item (click)="openWhatsapp()">Whatsapp</button>
      <button mat-menu-item (click)="openContactDialog()">Contact</button>
      <button mat-menu-item (click)="gotoAuth()">Sign Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="nav-spacer" *ngIf="isValidLogin">
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>