  .mat-toolbar.mat-primary.header-custom {
    // background: linear-gradient(90deg, #253648, #445E7B, #253648); 
    background: #223735;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: none;
    color: white;
    box-shadow: 0px -21px 5px 20px #666666;

    .mat-button .mat-icon {
      color: white;
    }
  }

  ::ng-deep .mat-menu-panel.custom-menu .mat-menu-content {

    .mat-menu-item,
    .mat-menu-item-submenu-trigger::after {
      font-size: 14px;
      color: #223735;
    }

    .mat-menu-item {
      .mat-icon {
        color: #223735;
      }
    }

  }

  ::ng-deep .mat-menu-panel.custom-menu {
    margin-top: 15px;

    &.mobile-menu {
      margin-top: 5px;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .nav-spacer {
    margin-top: 67px;
  }

  .mat-form-field {
    font-size: 14px;
  }

  .philips-font {
    position: fixed;
    top: 0;
  }

  .username-menu {
    font-size: 0.8em;
  }

  .header-custom {
    &--title {
      cursor: pointer;
      font-size: 0.85em;

      span {
        vertical-align: text-bottom;
      }

      img {
        vertical-align: bottom;
        margin-right: 10px;
      }

      &.mobile-title {
        text-align: center;

        img {
          margin-right: 0px;
        }
      }
    }

    .mat-toolbar-row {
      .mat-select {
        background: white;
        padding: 0% 0.5%;
        border-radius: 2px;
        font-size: 13px;
      }
    }
  }

