<div class="auth-container" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="auth-background" fxLayout="column" fxLayoutAlign="center center">
    <div class="auth-context">
      <mat-card class="auth-card">
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">

          <div fxLayout="row" fxLayoutAlign="center center" class="auth-logo">
            <img fxFlex="45%" src="../../../assets/img/subhag-logo.png">
          </div>

          <mat-tab-group mat-stretch-tabs dynamicHeight class="tab-header-text">

            <!-- Signin -->
            <mat-tab label="Sign In" *ngIf="!isForgotPassword && !isChangePassword">
              <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" (keyup.enter)="loginUser()">
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="userName" type="email" placeholder="Email" tabindex="1" autofocus
                      [(ngModel)]="userDetail.userName" required>
                  </mat-form-field>
                </div>
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="password" [type]="hide ? 'password' : 'text'" placeholder="Password"
                      [(ngModel)]="userDetail.password" tabindex="2" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="auth-button">
                  <button type="submit" mat-raised-button color="primary" fxFlex="50%" tabindex="3"
                    (click)="loginUser()">Log
                    In</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                  <p *ngIf="!validUser" style="color:red">Invalid Credentials</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="auth-link">
                  <button mat-button color="primary" tabindex="4" fxFlex="50%" (click)="gotoForgotPassword()">Forgot
                    Password?</button>
                </div>
              </form>
            </mat-tab>

            <!-- Registration -->
            <mat-tab label="Register" *ngIf="!isForgotPassword && !isChangePassword">
              <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" (keyup.enter)="registerUser()"
                *ngIf="!registrationSuccess">
                <div fxLayout fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex="48%">
                    <input matInput name="firstname" type="text" placeholder="First Name" tabindex="1" required
                      autofocus [(ngModel)]="userRegistrationDetail.firstName">
                  </mat-form-field>
                  <mat-form-field fxFlex="48%">
                    <input matInput name="lastname" type="text" placeholder="Last Name" tabindex="2" required
                      [(ngModel)]="userRegistrationDetail.lastName">
                  </mat-form-field>
                </div>
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="userName" type="email" placeholder="Email" tabindex="3" required
                      [(ngModel)]="userRegistrationDetail.userName">
                  </mat-form-field>
                </div>
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="password" type="password" placeholder="Password" tabindex="4" required
                      [(ngModel)]="userRegistrationDetail.password">
                  </mat-form-field>
                </div>
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="mobilenumber" type="tel" maxlength="10" placeholder="Mobile Number"
                      tabindex="5" required [(ngModel)]="userRegistrationDetail.phoneNumber">
                  </mat-form-field>
                </div>
                <div fxLayout fxLayoutAlign="space-between center">
                  <mat-form-field fxFlex="48%">
                    <input matInput name="dob" [matDatepicker]="picker" placeholder="DOB" [max]="startDate" required
                      tabindex="6" [(ngModel)]="userRegistrationDetail.dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker startView="multi-year" touchUi #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field fxFlex="48%">
                    <mat-select name="gender" placeholder="Gender" required tabindex="7"
                      [(ngModel)]="userRegistrationDetail.gender">
                      <mat-option value="MALE">Male</mat-option>
                      <mat-option value="FEMALE">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="auth-button" (click)="registerUser()">
                  <button type="submit" mat-raised-button color="primary" fxFlex="50%" tabindex="8">Register</button>
                </div>
              </form>
              <p *ngIf="registrationSuccess">You have successfully registered. Kindly check your registred mail ID for
                the Activation Mail.</p>
                <p *ngIf="registrationFailure" style="color:red">Your account could not be registered at the moment. Please try again later.</p>
            </mat-tab>

            <!-- Forgot Password -->
            <mat-tab label="Forgot Password" *ngIf="isForgotPassword">
              <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" *ngIf="!isPasswordVerificationLinkSent">
                <div fxLayout fxLayoutAlign="center center">
                  <mat-form-field fxFlex="100%">
                    <input matInput name="passwordUserName" type="email" placeholder="Registered Email" tabindex="1"
                      [(ngModel)]="forgotPasswordDetail.userName" required>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="auth-button">
                  <button type="submit" mat-raised-button color="primary" fxFlex="50%" tabindex="2"
                    (click)="sendVerificationLink()">Get Reset Link</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                  <p *ngIf="!validUserEmailForReset" style="color:red">Email ID does not exist. Try Again.</p>
                </div>
              </form>
              <p *ngIf="isPasswordVerificationLinkSent">Kindly check your registred mail ID for the Password Reset Mail.
              </p>
              <div fxLayout="row" fxLayoutAlign="center" class="auth-link">
                  <button mat-button color="primary" tabindex="3" fxFlex="50%" (click)="goBackToSignin()">Go to Sign-In</button>
                </div>
            </mat-tab>

            <!-- Change Password -->
            <mat-tab label="Reset Password" *ngIf="isChangePassword">
                <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" *ngIf="!isResetSuccess && !isResetFailure">
                  <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="100%">
                      <input matInput name="passwordUserName" type="email" placeholder="Email" tabindex="1"
                        [(ngModel)]="resetPasswordDetail.userName" required [disabled]=true>
                    </mat-form-field>
                  </div>
                  <div fxLayout fxLayoutAlign="center center">
                      <mat-form-field fxFlex="100%">
                        <input matInput name="resetPassword" [type]="hide ? 'password' : 'text'" placeholder="New Password"
                          [(ngModel)]="resetPasswordDetail.password" tabindex="2" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </mat-form-field>
                    </div>
                  <div fxLayout="row" fxLayoutAlign="center" class="auth-button">
                    <button type="submit" mat-raised-button color="primary" fxFlex="50%" tabindex="2"
                      (click)="resetPassword()">Change Password</button>
                  </div>
                </form>
                <p *ngIf="isResetFailure" style="color:red">The Password Reset couldn't be processed. Please try again later.</p>
                <p *ngIf="isResetSuccess">The Password has been updated successfully. Please Login back again.</p>
                <div fxLayout="row" fxLayoutAlign="center" class="auth-button">
                    <button type="submit" mat-button color="primary" fxFlex="50%" tabindex="2"
                      (click)="goBackToSignin()">Go to Sign-In</button>
                  </div>
              </mat-tab>

          </mat-tab-group>
        </mat-card-content>
        <mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
      </mat-card>
    </div>
    <div class="auth-footer">
      <p>
        &copy; Subhag 2019
      </p>
      <!-- tebace@ask-mail.com -->
    </div>
  </div>
</div>