<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<h2 mat-dialog-title *ngIf="!deleteSuccess && !deleteFailure && !isBookingRequest">Delete User</h2>
<h2 mat-dialog-title *ngIf="!deleteSuccess && !deleteFailure && !isUserRequest">Delete Booking</h2>
<h2 mat-dialog-title *ngIf="deleteSuccess"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="deleteFailure"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i> Failure</h2>
<mat-dialog-content class="mat-typography">

  <p *ngIf="loadingProgress">The delete request is being placed. Kindly wait for the confirmation.</p>
  <p *ngIf="deleteSuccess">The delete request is completed successfully.</p>
  <p *ngIf="deleteFailure">The action couldn't be coimpleted at the moment. Please try again later.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="deleteSuccess || deleteFailure">Close</button>
</mat-dialog-actions>