<h2 mat-dialog-title *ngIf="data.status"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="data.status"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i> Failure</h2>
<mat-dialog-content class="mat-typography">

  <p *ngIf="data.status">The requested action is completed successfully.</p>
  <p *ngIf="data.status">The requested action couldn't completed. Please try again later.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>