<h2 mat-dialog-title>Contact Us</h2>
<mat-dialog-content class="mat-typography">
  <h3>Call us @  <a href="tel:+918618815857">+91-8618815857</a></h3>
  <h3>Write to us @  <a href="mailto:booking@subhag.in">booking@subhag.in</a></h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>