<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<h2 mat-dialog-title *ngIf="!bookingSuccess && !bookingFailure">Book {{data.serviceDetail.title | titlecase}} Service
</h2>
<h2 mat-dialog-title *ngIf="bookingSuccess"><i class="material-icons"
    style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="bookingFailure"><i class="material-icons"
    style="vertical-align: sub;color:orangered;">cancel</i>
  Failure</h2>
<mat-dialog-content class="mat-typography">


  <p *ngIf="loadingProgress">The booking request is being placed. Kindly wait for the confirmation.</p>
  <p *ngIf="bookingSuccess">The booking requested for {{data.serviceDetail.title | titlecase}} service is placed
    successfully. We will get in touch shortly.</p>
  <p *ngIf="bookingFailure">The booking requested for {{data.serviceDetail.title | titlecase}} service couldn't be
    placed. Please try again later.</p>
  <p *ngIf="bookingNotSupported">We do not support online booking for this service at the moment. A Subhag Consultant
    will contact you.</p>

  <p *ngIf="isPreviousBookingAvailable">You have already requested for Consultation. Relax back, Subhag Team is doing the needful.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="bookingSuccess" color="primary" (click)="openQuestionsDialog()">Fill
    Mandatory Details</button>
  <button mat-button mat-dialog-close *ngIf="bookingFailure || bookingNotSupported || isPreviousBookingAvailable">Close</button>
</mat-dialog-actions>