<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Service Requests</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-tab-group dynamicHeight>
      <mat-tab label="Consultation">
        <mat-card class="example-container mat-elevation-z0">
          <div class="container" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="100%">
              <input matInput (keyup)="applyFilterSerReq($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <table mat-table [dataSource]="dataSourceSerReqConsult" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested BY </th>
              <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                  (click)="viewUserDetails(element.createdBy)">{{element.createdBy}}</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="bookingId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
            </ng-container>
            <ng-container matColumnDef="dateCreated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Requested Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'MMM d, y - h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="bookingDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
              <td mat-cell *matCellDef="let element">
                <span
                  *ngIf="element.bookingStatus !=='NEW' && element.bookingStatus !=='ASSIGNED'">{{element.bookingDate | date:'MMM d, y - h:mm a'}}</span>
                <span *ngIf="element.bookingStatus ==='NEW' || element.bookingStatus ==='ASSIGNED'"> Not Scheduled
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="bookingStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Status </th>
              <td mat-cell *matCellDef="let element">
                <span style="font-weight:bold;color:red" *ngIf="element.bookingStatus === 'NEW'">{{element.bookingStatus}}</span>
                <span style="font-weight:bold;color:indianred" *ngIf="element.bookingStatus === 'ASSIGNED'">{{element.bookingStatus}}</span>
                <span style="font-weight:bold;color:blue" *ngIf="element.bookingStatus === 'SCHEDULED'">{{element.bookingStatus}}</span>
                <span style="font-weight:bold;color:orange" *ngIf="element.bookingStatus === 'ONGOING'">{{element.bookingStatus}}</span>
                <span style="font-weight:bold;color:green" *ngIf="element.bookingStatus === 'COMPLETE'">{{element.bookingStatus}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element" class="request-action-button">
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='NEW' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="assignProvider(element)">Assign Providers</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='ASSIGNED'"
                  (click)="scheduleAppointment(element)">Schedule Appointment</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='SCHEDULED'"
                  (click)="openRequestActionDialog('CONSULT_START', element.bookingId)">Start Consultation</button>
                <button mat-button color="primary" (click)="openQuestionsDialog(element.bookingId)">View Answers</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='ONGOING'"
                  (click)="viewUserComments(element.bookingId)">View Comments</button>
                <button mat-button color="accent" *ngIf="element.bookingStatus ==='ONGOING'"
                  (click)="openRequestActionDialog('CONSULT_COMPLETE', element.bookingId)">Complete
                  Consultation</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='COMPLETE'"
                  (click)="viewUserComments(element.bookingId)">View Comments</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='COMPLETE'"
                  (click)="viewUserDetails(element.createdBy)">View Details</button>
                <button mat-button color="warn" *ngIf="element.bookingStatus ==='NEW' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="deleteBookingRequest(element.id)">Delete Request</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSerReq"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSerReq;"></tr>
          </table>
          <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </mat-card>
      </mat-tab>
      <mat-tab label="Semen Analysis">
        <mat-card class="example-container mat-elevation-z0">
          <div class="container" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="100%">
              <input matInput (keyup)="applyFilterSerReq($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <table mat-table [dataSource]="dataSourceSerReqAnalysis" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested BY </th>
              <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                  (click)="viewUserDetails(element.createdBy)">{{element.createdBy}}</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="bookingId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
            </ng-container>
            <ng-container matColumnDef="dateCreated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Requested Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'MMM d, y - h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="bookingDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingDate | date:'MMM d, y - h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="bookingStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Status </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingStatus}}
                <!-- <i class="material-icons" style="color:orange" *ngIf="element.bookingStatus === 'PROCESSING'">radio_button_checked</i>
                    <i class="material-icons" style="color:green" *ngIf="element.bookingStatus !== 'PROCESSING'">radio_button_checked</i> -->
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='NEW' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="assignProvider(element)">Assign Providers</button>
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='ASSIGNED' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="scheduleAppointment(element)">Schedule Appointment</button>
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='SCHEDULED' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="openRequestActionDialog('CONSULT_START', element.bookingId)">Start Consultation</button>
                <button mat-button class="request-action-button" color="primary" (click)="openQuestionsDialog(element.bookingId)">View Answers</button>
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='ONGOING'">View Comments</button>
                <button mat-button class="request-action-button" color="accent" *ngIf="element.bookingStatus ==='ONGOING' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="openRequestActionDialog('CONSULT_COMPLETE', element.bookingId)">Complete
                  Consultation</button>
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='COMPLETE'">View Comments</button>
                <button mat-button class="request-action-button" color="primary" *ngIf="element.bookingStatus ==='COMPLETE'"
                  (click)="viewUserDetails(element.createdBy)">View Details</button>
                <button mat-button class="request-action-button" color="warn" *ngIf="element.bookingStatus ==='NEW'"
                  (click)="deleteBookingRequest(element.id) && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')">Delete Request</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSerReq"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSerReq;"></tr>
          </table>
          <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </mat-card>
      </mat-tab>
      <mat-tab label="Artificial Insemination">
        <mat-card class="example-container mat-elevation-z0">
          <div class="container" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="100%">
              <input matInput (keyup)="applyFilterSerReq($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <table mat-table [dataSource]="dataSourceSerReqIUI" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="createdBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested BY </th>
              <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                  (click)="viewUserDetails(element.createdBy)">{{element.createdBy}}</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="bookingId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingId}} </td>
            </ng-container>
            <ng-container matColumnDef="dateCreated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Requested Date </th>
              <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'MMM d, y - h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="bookingDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingDate | date:'MMM d, y - h:mm a'}} </td>
            </ng-container>
            <ng-container matColumnDef="bookingStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Status </th>
              <td mat-cell *matCellDef="let element"> {{element.bookingStatus}}
                <!-- <i class="material-icons" style="color:orange" *ngIf="element.bookingStatus === 'PROCESSING'">radio_button_checked</i>
                    <i class="material-icons" style="color:green" *ngIf="element.bookingStatus !== 'PROCESSING'">radio_button_checked</i> -->
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='NEW' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="assignProvider(element)">Assign Providers</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='ASSIGNED' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="scheduleAppointment(element)">Schedule Appointment</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='SCHEDULED' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="openRequestActionDialog('CONSULT_START', element.bookingId)">Start Consultation</button>
                <button mat-button color="primary" (click)="openQuestionsDialog(element.bookingId)">View Answers</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='ONGOING'">View Comments</button>
                <button mat-button color="accent" *ngIf="element.bookingStatus ==='ONGOING' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="openRequestActionDialog('CONSULT_COMPLETE', element.bookingId)">Complete
                  Consultation</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='COMPLETE'">View Comments</button>
                <button mat-button color="primary" *ngIf="element.bookingStatus ==='COMPLETE'"
                  (click)="viewUserDetails(element.createdBy)">View Details</button>
                <button mat-button color="warn" *ngIf="element.bookingStatus ==='NEW' && (userDetails.userType === 'ADMIN' || userDetails.userType === 'MANAGER')"
                  (click)="deleteBookingRequest(element.id)">Delete Request</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSerReq"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSerReq;"></tr>
          </table>
          <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>