.cdk-column-id.mat-column-id {
  width: 50px;
}

.cdk-column-roleNurse.mat-column-roleNurse,
.cdk-column-roleCustomerService.mat-column-roleCustomerService,
.cdk-column-roleGynecologist.mat-column-roleGynecologist {
  width: 200px;
}

table {
  width: 100%;
}