<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<mat-card>
  <mat-card-header>
    <mat-card-title>User and Configuration Management</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Managers" *ngIf="userAccessRole !== 'USER' && userAccessRole !== 'ROLE_PROVIDER' && userAccessRole !== 'ROLE_MANAGER'">
        <mat-card>
          <mat-card-content>
            <div class="example-container mat-elevation-z0">
              <div class="container" fxLayout fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="65%">
                  <input matInput (keyup)="applyFilterManager($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <button mat-raised-button fxFlex="20%" color="primary" (click)='gotoManageManager()'>Add New Manager</button>
              </div>
              <table mat-table [dataSource]="dataSourceManager" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}  </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
                <ng-container matColumnDef="userPhoneNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                  <td mat-cell *matCellDef="let element"> {{element.userPhoneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="active">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.active" matTooltip="Active">person_outline</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.active" matTooltip="In-active">person_outline</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="viewUserDetails(element)">View</button>
                    <button mat-button color="warn" (click)="deleteUser(element.id)">De-Activate</button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsManager"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsManager;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Care Providers" *ngIf="userAccessRole !== 'USER' && userAccessRole !== 'ROLE_PROVIDER'">
        <mat-card>
          <mat-card-content>
            <div class="example-container mat-elevation-z0">
              <div class="container" fxLayout fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="65%">
                  <input matInput (keyup)="applyFilterProvider($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <button mat-raised-button fxFlex="20%" color="primary" (click)="gotoManageProvider()">Add New Care Provider</button>
              </div>
              <table mat-table [dataSource]="dataSourceProvider" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Provider Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
                <ng-container matColumnDef="userPhoneNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                  <td mat-cell *matCellDef="let element"> {{element.userPhoneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="userType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.userType.replace('ROLE_PROVIDER_','')}} </td>
                  </ng-container>
                <ng-container matColumnDef="active">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.active" matTooltip="Active">person_outline</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.active" matTooltip="In-active">person_outline</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="viewUserDetails(element)">View Details</button>
                    <button mat-button color="primary" (click)="viewProviderIdentityDetails(element)">View ID</button>
                    <button mat-button color="warn" (click)="deleteUser(element.id)">De-Activate</button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsProvider"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsProvider;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Users" *ngIf="userAccessRole !== 'USER' && userAccessRole !== 'ROLE_PROVIDER'">
        <mat-card>
          <mat-card-content>
            <div class="example-container mat-elevation-z0">
              <div class="container" fxLayout fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="100%">
                  <input matInput (keyup)="applyFilterUser($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              <table mat-table [dataSource]="dataSourceUser" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}  </td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>
                <ng-container matColumnDef="userPhoneNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                  <td mat-cell *matCellDef="let element"> {{element.userPhoneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="active">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.active" matTooltip="Active">person_outline</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.active" matTooltip="In-active">person_outline</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="viewUserDetails(element)">View</button>
                    <button mat-button color="warn" (click)="deleteUser(element.id)">De-Activate</button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsManager"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsManager;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Service Configuration Details (Read Only)" *ngIf="userAccessRole !== 'USER'">
        <mat-card>
          <mat-card-content>
            <div class="example-container mat-elevation-z0">
              <div class="container" fxLayout fxLayoutAlign="space-between center">
                <mat-form-field fxFlex="100%">
                  <input matInput (keyup)="applyFilterService($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <!-- <button mat-raised-button fxFlex="20%" color="primary">Add New Service</button> -->
              </div>
              <table mat-table [dataSource]="dataSourceService" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.title | titlecase}} </td>
                </ng-container>
                <ng-container matColumnDef="serviceFee">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Fee </th>
                  <td mat-cell *matCellDef="let element">Rs. {{element.serviceFee}} /-</td>
                </ng-container>
                <ng-container matColumnDef="roleNurse">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nurse </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.roleNurse">check_circle</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.roleNurse">cancel</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="roleCustomerService">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Service </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.roleCustomerService">check_circle</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.roleCustomerService">cancel</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="roleGynecologist">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Gynecologist </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.roleGynecologist">check_circle</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.roleGynecologist">cancel</i>
                  </td>
                </ng-container>
                <ng-container matColumnDef="roleAndrologist">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Andrologist </th>
                  <td mat-cell *matCellDef="let element">
                    <i class="material-icons" style="color:forestgreen;" *ngIf="element.roleAndrologist">check_circle</i>
                    <i class="material-icons" style="color:orangered;" *ngIf="!element.roleAndrologist">cancel</i>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsService"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsService;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>