<h2 mat-dialog-title>Comments</h2>
<mat-dialog-content class="mat-typography">
  <div fxLayout="column" fxLayoutAlign="space-between">
    <mat-form-field fxFlex="100%">
      <textarea matInput name="comment" type="text" placeholder="Leave a Comment" tabindex="1" required
        [(ngModel)]="bookingCommentDetail.bookingComment"></textarea>
    </mat-form-field>
    <button mat-button color="primary" fx-flex="30%" tabindex="2" (click)="addBookingComments()">Add
      Comment</button>
  </div>

  <!-- <p style="text-align: center;">----------------------------------------</p> -->
  <hr>

  <!-- <h3 style="text-align: center;">Comments Timeline</h3> -->
  
  <div fxLayout="column" style="height: 250px;overflow: scroll;">
    <div *ngFor="let bookingComment of bookingCommentsArray">
      <p style="word-wrap: break-word;">{{bookingComment.bookingComment}}</p>
      <cite style="text-align: left; color:indianred;">{{bookingComment.userName}}</cite>
      <p style="text-align: center;">-----</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>