<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Our Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-accordion>
      <!-- User Profile Details -->
      <mat-expansion-panel [expanded]=true>
        <mat-expansion-panel-header>
          <mat-panel-title>
            My Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form">

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="firstName" type="text" placeholder="First Name" tabindex="1" required [(ngModel)]="userProfileDetail.firstName"
                [disabled]="!isEditable">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="lastName" type="text" placeholder="Last Name" tabindex="2" required [(ngModel)]="userProfileDetail.lastName"
                [disabled]="!isEditable">
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="userName" type="email" placeholder="Email" tabindex="3" required [(ngModel)]="userProfileDetail.userName"
                [disabled]="true">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="userPhoneNumber" type="tel" placeholder="Mobile Number" maxlength="10" tabindex="4"
                required [(ngModel)]="userProfileDetail.userPhoneNumber" [disabled]="!isEditable" fxFlex="98%">
                <button mat-icon-button class="mobile-verify-button" *ngIf="!userProfileDetail.mobileVerify" matTooltip="Click here to Verify Mobile Number">
                  <mat-icon style="color:orange" (click)="sendOTPForMobileVerfication()">info</mat-icon>
                </button>
                <button mat-icon-button class="mobile-verify-button" *ngIf="userProfileDetail.mobileVerify" matTooltip="Mobile number is Verified">
                  <mat-icon style="color:green">check_circle</mat-icon>
                </button>
            </mat-form-field>
          </div>


          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="userDOB" [matDatepicker]="picker" placeholder="DOB" [max]="startDate" required
                tabindex="5" [(ngModel)]="userProfileDetail.userDOB" [disabled]="!isEditable">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker startView="multi-year" touchUi #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <mat-select name="userGender" placeholder="Gender" required tabindex="6" [(ngModel)]="userProfileDetail.userGender"
                [disabled]="!isEditable">
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMALE">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center" *ngIf="!!userProfileDetail.address">
            <mat-form-field fxFlex="45%">
              <input matInput name="address1" type="text" placeholder="Door Number / Building Number" tabindex="7"
                required [(ngModel)]="userProfileDetail.address && userProfileDetail.address.address1" [disabled]="!isEditable">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="address2" type="text" placeholder="Street Name / Locality" tabindex="8" required
                [(ngModel)]="userProfileDetail.address && userProfileDetail.address.address2" [disabled]="!isEditable">
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center" *ngIf="!!userProfileDetail.address">
            <mat-form-field fxFlex="45%">
              <input matInput name="city" type="text" placeholder="City" tabindex="9" required [(ngModel)]="userProfileDetail.address && userProfileDetail.address.city"
                [disabled]="!isEditable">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <mat-select name="state" placeholder="State" required tabindex="11" [(ngModel)]="userProfileDetail.address && userProfileDetail.address.state"
                [disabled]="!isEditable">
                <mat-option *ngFor="let state of stateList" [value]="state.code">
                  {{state.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center" *ngIf="!!userProfileDetail.address">
            <mat-form-field fxFlex="45%">
              <mat-select name="country" placeholder="Country" required tabindex="11" [(ngModel)]="userProfileDetail.address && userProfileDetail.address.country"
                [disabled]="!isEditable">
                <mat-option *ngFor="let country of countryList" [value]="country.code">
                  {{country.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="pincode" type="text" placeholder="Pincode" tabindex="12" required [(ngModel)]="userProfileDetail.address && userProfileDetail.address.pincode"
                [disabled]="!isEditable">
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" class="auth-button">
            <button mat-raised-button color="default" fxFlex="10%" tabindex="14" (click)="reloadUserProfile()" *ngIf="isEditable">Cancel</button>
            <button mat-raised-button color="primary" fxFlex="10%" tabindex="13" (click)="editUserProfile('USER')"
              *ngIf="!isEditable">Edit Details</button>
            <button mat-raised-button color="primary" fxFlex="10%" tabindex="13" *ngIf="isEditable" (click)="updateUserDetail()">Update</button>
          </div>
        </form>

      </mat-expansion-panel>


      <!-- Account Security Details -->
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account Security - Change Password
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We do not allow password reset as yet. Contact you administrator to change the password.</p>
      </mat-expansion-panel> -->


      <!-- Spouse Profile Details -->
      <mat-expansion-panel *ngIf="isUserProfile">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Spouse / Partner Details
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Spouse Profile Details - Nothing Exists-->
        <div fxLayout *ngIf="isSpouseDataUnavailable && !isSpouseRegister">
          <p fxFlex="80%">You haven't added you spouse details yet. Kindly update the
            same.</p>
          <button mat-raised-button fxFlex="20%" color="primary" (click)="addNewSpouseDetails()">Add
            Spouse Details</button>
        </div>

        <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" *ngIf="isSpouseDataUnavailable && isSpouseRegister">

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="firstNamePartner" type="text" placeholder="First Name" tabindex="1" required
               [(ngModel)]="addSpouseDetail.firstName">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="lastNamePartner" type="text" placeholder="Last Name" tabindex="2" required
               [(ngModel)]="addSpouseDetail.lastName">
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="userName" type="email" placeholder="Email" tabindex="3" required
                [(ngModel)]="addSpouseDetail.userName">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="phoneNumber" type="tel" placeholder="Mobile Number" maxlength="10"
                tabindex="4" required [(ngModel)]="addSpouseDetail.phoneNumber">
            </mat-form-field>
          </div>


          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="dob" [matDatepicker]="pickerPartner" placeholder="DOB" [max]="startDate"
                required tabindex="5" [(ngModel)]="addSpouseDetail.dob">
              <mat-datepicker-toggle matSuffix [for]="pickerPartner"></mat-datepicker-toggle>
              <mat-datepicker startView="multi-year" touchUi #pickerPartner></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <mat-select name="gender" placeholder="Gender" required tabindex="6"
                [(ngModel)]="addSpouseDetail.gender">
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMALE">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" class="auth-button">
            <button mat-raised-button color="default" fxFlex="10%" tabindex="14" (click)="cancelNewSpouseDetails()" *ngIf="isSpouseDataUnavailable && isSpouseRegister">Cancel</button>
            <button mat-raised-button color="primary" fxFlex="10%" tabindex="13" (click)="addUserSpouseDetail()"
              *ngIf="isSpouseDataUnavailable && isSpouseRegister">Submit Details</button>
          </div>

        </form>

        <!-- Spouse Profile Details - Already Exists-->
        <form fxLayoutAlign="center stretch" fxLayout="column" class="auth-form" *ngIf="!isSpouseDataUnavailable">

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="firstNamePartner" type="text" placeholder="First Name" tabindex="1" required
                [disabled]="!isSpouseEditable" [(ngModel)]="userPartnerProfileDetail.firstName">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="lastNamePartner" type="text" placeholder="Last Name" tabindex="2" required
                [disabled]="!isSpouseEditable" [(ngModel)]="userPartnerProfileDetail.lastName">
            </mat-form-field>
          </div>

          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="email" type="email" placeholder="Email" tabindex="3" required [disabled]="!isSpouseEditable"
                [(ngModel)]="userPartnerProfileDetail.email">
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <input matInput name="phoneNumber" type="tel" placeholder="Mobile Number" maxlength="10"
                tabindex="4" required [disabled]="!isSpouseEditable" [(ngModel)]="userPartnerProfileDetail.phoneNumber">
            </mat-form-field>
          </div>


          <div fxLayout fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="45%">
              <input matInput name="dob" [matDatepicker]="pickerPartner" placeholder="DOB" [max]="startDate"
                required tabindex="5" [disabled]="!isSpouseEditable" [(ngModel)]="userPartnerProfileDetail.dob">
              <mat-datepicker-toggle matSuffix [for]="pickerPartner"></mat-datepicker-toggle>
              <mat-datepicker startView="multi-year" touchUi #pickerPartner></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="45%">
              <mat-select name="gender" placeholder="Gender" required tabindex="6" [disabled]="!isSpouseEditable"
                [(ngModel)]="userPartnerProfileDetail.gender">
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMALE">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%" class="auth-button">
            <button mat-raised-button color="default" fxFlex="10%" tabindex="14" (click)="reloadUserProfile()" *ngIf="isSpouseEditable">Cancel</button>
            <button mat-raised-button color="primary" fxFlex="10%" tabindex="13" (click)="editUserProfile('SPOUSE')"
              *ngIf="!isSpouseEditable">Edit Details</button>
            <button mat-raised-button color="primary" fxFlex="10%" tabindex="13" *ngIf="isSpouseEditable" (click)="updateUserSpouseDetail()">Update</button>
          </div>

        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>