::ng-deep .mobile-verify-button.mat-icon-button {
    height: 20px;
    width: 20px;
    span.mat-button-wrapper {
        mat-icon.mat-icon {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            width: 20px;
            margin-top: -15px;
        }
    }
}