<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>

<h2 mat-dialog-title *ngIf="!isProvidersNotAssigned && !isProvidersAssigned">Assign Provider</h2>
<h2 mat-dialog-title *ngIf="isProvidersAssigned"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="isProvidersNotAssigned"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i>
  Failure</h2>

<mat-dialog-content class="mat-typography">

<p *ngIf="!isProvidersNotAssigned && !isProvidersAssigned">Select and Assign the relevant Providers for the Services as requested by the user. Pick from the available options below.</p>
<div fxLayout fxLayoutAlign="space-between center" *ngIf="!isProvidersNotAssigned && !isProvidersAssigned">
    <mat-form-field fxFlex="48%">
        <mat-select name="customersupport" placeholder="Select Customer Support Agent" required tabindex="1" [(ngModel)]="customersupport">
            <mat-option *ngFor="let provider of providerCSList" [value]="provider.userName">
                {{provider.firstName}} {{provider.lastName}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="48%">
        <mat-select name="gynaecologist" placeholder="Select Gynaecologist" required tabindex="2" [(ngModel)]="gynaecologist">
            <mat-option *ngFor="let provider of providerGYList" [value]="provider.userName">
                {{provider.firstName}} {{provider.lastName}}
            </mat-option>
        </mat-select>
      </mat-form-field>
</div>

<p *ngIf="isProvidersAssigned">The providers for the Service are assigned successfully.</p>
  <p *ngIf="isProvidersNotAssigned">The providers couldn't be assigned at the moment. Please try again later.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="assignSelectedProviders()" *ngIf="!isProvidersNotAssigned && !isProvidersAssigned">Submit</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>