/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
@import '~@angular/material/theming';
@include mat-core();
html, body { height: 100%; }
body { margin: 0; }

@import './scss/main.scss';
@include mat-core($custom-typography);
$my-app-primary: mat-palette($mat-teal);
$my-app-accent: mat-palette($mat-blue, A200, A100, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);