<mat-progress-bar mode="indeterminate" *ngIf="loadingProgress"></mat-progress-bar>
<h2 mat-dialog-title *ngIf="data.type === 'CONSULT_START' && !isConsultStarted && !isConsultNotStarted">Start Consultation</h2>
<h2 mat-dialog-title *ngIf="data.type === 'CONSULT_COMPLETE' && !isConsultCompleted && !isConsultNotCompleted">Complete Consultation</h2>
<h2 mat-dialog-title *ngIf="(data.type === 'CONSULT_START' && isConsultStarted) || (data.type === 'CONSULT_COMPLETE' && isConsultCompleted)"><i class="material-icons" style="vertical-align: sub;color:forestgreen;">check_circle</i>
  Success</h2>
<h2 mat-dialog-title *ngIf="(data.type === 'CONSULT_START' && isConsultNotStarted) || (data.type === 'CONSULT_COMPLETE' && isConsultNotCompleted)"><i class="material-icons" style="vertical-align: sub;color:orangered;">cancel</i>
  Failure</h2>

<mat-dialog-content class="mat-typography">
  <div *ngIf="data.type === 'CONSULT_START'">
    <p *ngIf="!isConsultStarted && !isConsultNotStarted">Please wait while your request is being processed.</p>
    <p *ngIf="isConsultStarted">The Consultation request has been accepted and started Successfully.</p>
    <p *ngIf="isConsultNotStarted">The request couldn't be processed at the moment. Please try again later.</p>
  </div>
  <div *ngIf="data.type === 'CONSULT_COMPLETE'">
      <p *ngIf="!isConsultCompleted && !isConsultNotCompleted">Please wait while your request is being processed.</p>
    <p *ngIf="isConsultCompleted">The Consultation process is completed and the details are updated sucessfully.</p>
    <p *ngIf="isConsultNotCompleted">The request couldn't be processed at the moment. Please try again later.</p>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>